.Button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
    -fx-text-fill: #c3a3ea;
    -fx-cursor: hand;
}

.Button:hover{
    -fx-text-fill:  #000000;
}


.Button2{
    -fx-background-color:  linear-gradient(to right, #81e7c0, #bc9ce8);
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}


.Button2:hover{
    -fx-text-fill:  #000000;
}




.topButton{
    -fx-cursor: hand;
}

.topButton .icon{
        -fx-fill: #81e7c0;
}


.topButton2{
    -fx-cursor: hand;
}

.topButton2 .icon{
        -fx-fill:  #ffffff;
}

.topButton2:hover .icon,.topButton:hover .icon {
    -fx-fill: #000000;
}

.labelForget{
  -fx-text-fill : #000000;
      -fx-cursor: hand;
}

.labelForget:hover{
  -fx-text-fill : #c3a3ea;
}
